#logo {
    width: 25%;
    /*height: 100%;*/
    /*max-width: 280px;*/
    margin: 10px 0px 10px 0px;

}

ul {
    margin: 2%;
}

#video {
    background-color: black;
    margin-top: 65px
}

div#statement.jumbotron {
    /*font-family: 'Gentium Basic', serif;*/
    font-family: 'Roboto Condensed', serif;
}

body {
    /*background-color: black;*/
    /*background: linear-gradient(to bottom right, black, rgb(55, 55, 55));*/
    background: linear-gradient(to bottom right, black, rgb(70, 0, 0));
    color: white;
}

#navbar {
    background-color: black;
    color: white;
}

.tabs {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 2px;

}


/*div#music {*/

/*    padding-top: 130px;*/

/*    margin-top: -130px;*/

/*}*/

#statement {
    /*background-color: black;*/
    /*background: linear-gradient(to bottom right, black, #333333);*/
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "intersection";
    /* name to be used later */
    src: url(../urban-brush.ttf)
    /*URL/file path to font*/
}

video {
    max-height: 700px;
    /*height:100%;*/
}

h4 {
    font-size: 60px;
    font-family: 'intersection', sans-serif;
    margin: 2%, 0px;
}
h5 {
    font-size: 30px;
    font-family: 'intersection', sans-serif;
    margin: 2%, 0px;
}

nav {
    font-family: 'intersection', sans-serif;
    font-size: 20px;
}

p {
    margin: 2% ,0px;
    font-size: 17px;
    font-family: 'Crimson Text', serif;
}

.images {
    border-radius: 0%;
    width: 200px;
    float: left;
    padding: 35px 0px 0px 0px;
    margin: 10px 12px 0px 0px;
}

#mueller {
    padding: 15px 0px 0px 0px;
}

.bio {
    margin: 0px 20px 0px 0px;
    /*padding: 0px 0px 0px 210px;*/
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;

}

#embeddedform {
    display: none;
}

#formlink{
        display:inline;
    }

.navbarAnchor {
    padding-top: 60px;
    margin-top: -60px;
}

@media(min-height:600px) {
    video{max-height:570px;}
}
@media(min-height:700px) {
    video{max-height:670px;}
}@media(min-height:800px) {
    video{max-height:770px;}
}
@media(min-width:768px) {
    body{
            background: linear-gradient(to bottom right, black, rgb(0, 0, 70));
    }
    h4 {
        font-size: 70px;
    }
    p {
        font-size: 17px;
    }
    .bio {
        margin: 0px 20px 0px 0px;
        /*padding: 100px 100px 100px 100px;*/
    }

    nav {
        font-size: 20px;
    }
    #logo {
        width: 200px;

    }
    .navbarAnchor {
        padding-top: 80px;
        margin-top: -80px;
    }
    #video {
        margin-top: 90px
    }

}

@media(min-width:992px) {
    h4 {
        font-size: 80px;
    }
    p {
        font-size: 18px;
    }
    nav {
        font-size: 23px;
    }
    #embeddedform {
        display: inline;
    }
    #formlink{
        display:none;
    }
    /*#questionstab {*/
    /*    display: inline;*/
    /*}*/



}

@media(min-width:1200px) {
    h4 {
        font-size: 85px;
    }
    p {
        font-size: 20px;
    }
    nav {
        font-size: 26px;
    }


}

